/*
color: blue;
background-color: green;
font: style variant weight size line-height font-family
font-size: 12em;
font-family: Helvetica;
font-weight: normal;
font-variant: small-caps;
font-style: italics;
text-align: left;
text-decoration: none;
line-height: 1.5;
vertical-align:middle
list-style-type:square
opacity:0.4;
background: rgba(200, 54, 54, 0.5);
text-shadow: 0px 0px 24px black
letter-spacing:2px; 
word-spacing:30px;
text-indent:50px;
text-transform:capitalize
*/

/*----- Main -----*/

body {
	background-image: url("../images/background.gif");
	font-size:  62.5%;
}

/*----- Navigation -----*/

ul li{
	font-size: 3em;
	display: inline;
	padding-right: 20px;
	font-variant: small-caps;
	font-style: italic;
}

a{
	text-decoration: none;
}


a:link {
	color:#0bb5f2;
}

a:visited {
	color:#00ffd9;
}

a:hover {
	color:#ffffff;
}

a:active {
	color:#ffffff;
}

/*----- Headers -----*/

h1, h2, h3 {
	font-family: 'Shojumaru', cursive;
	color:#b8ff04;
	font-size: 7em;
}


h2, h3 {
	text-align: center;
}

h3 {
	word-spacing:20px;
	text-indent:20px;
	text-transform:capitalize
}




/*----- Paragraphs -----*/


p {
	color:#b708fb;
	background: #000000;
	font: normal normal normal 2em/1.9 'Mystery Quest', cursive;
}

footer {
	text-align: center;
}

footer p {
	font-family: 'Shojumaru', cursive;
	color:#058aff;
}


/*----- List -----*/





/*----- Image -----*/
img {
	float: left;
	border: 22px ridge #00ff23;
	opacity: .85;
	margin: 0 auto;
	display: block;
	hover: blink;
}

#saturn {

	width: 100%;
}
