/*
color: blue;
background-color: green;
font: style variant weight size line-height font-family
font-size: 12em;
font-family: Helvetica;
font-weight: normal;
font-variant: small-caps;
font-style: italics;
text-align: left;
text-decoration: none;
line-height: 1.5;
vertical-align:middle
list-style-type:square
opacity:0.4;
background: rgba(200, 54, 54, 0.5);
text-shadow: 0px 0px 24px black
letter-spacing:2px; 
word-spacing:30px;
text-indent:50px;
text-transform:capitalize
*/


body {
	background-image: url("../images/background.gif");
	font-size:  62.5%;
}



h1, h2, h3 {
	font-family: 'Shojumaru', cursive;
	color:#b8ff04;
	font-size: 7em;
}

ul li{
	font-size: 3em;
	display: inline;
}

p{
	color:#b708fb;
	background: #000000;
	font: normal normal normal 2em/1.9 'Mystery Quest', cursive;
	float: right;
}

div {
border: 1px groove #18a0df;
}
